@import '~bootstrap/scss/bootstrap';


.my-bg-jumbo {
    background-image: url("../img/footer-bg.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.first-li {
    font-size: 1.2rem;
}
